[build]
builder = "NIXPACKS"

[build.nixpacksPlan.phases.install]
cmds = ["pnpm i --no-frozen-lockfile"]

[deploy]
startCommand = "pnpm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
