[build]
builder = "NIXPACKS"

[build.nixpacksPlan.phases.setup]
nixPkgs = [
  "nodejs_23",
  "pnpm"
]

[build.nixpacksPlan.phases.install]
cmds = [ "pnpm install --shamefully-hoist" ]

[build.nixpacksPlan.phases.build]
cmds = [ "pnpm run build" ]

[deploy]
startCommand = "pnpm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
